body, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #F1F1F1;
}

.header-style {
    background: #808080;
    color: white;
}

#aside-left {
    width: 10%;
    height: auto;
    float: left;
}

    #aside-left img{
        padding-left: 6px;
    }

    #aside-left #home{
        text-decoration: none;
        font-weight: bold;
        font-size: 13px;
        color: black;
    }

    #aside-left ul {
        margin-bottom: 10px;
        padding-left: 5px;
        font-size: 13px;
    }

        #aside-left ul li a.first {
            text-decoration: none;
            color: #A13331;
            font-weight: bold;
        }

        #aside-left ul li a {
            text-decoration: none;
            color: black;
        }

        #aside-left ul li {
            list-style: none;
        }

#aside-right {
    width: 11%;
    height: auto;
    float: right;
    background: white;
}


    #aside-right .header-style {
        text-align: center;
    }


    #aside-right div {
        border: 1px solid black;
    }

    #aside-right img {
        width: 100px;
        height: 30px;
        padding-top: 5px;
    }

    #aside-right div input[type="search"] {
        width: 70%;
        position: relative;
        left: 5%;
    }

    #aside-right div input[type="button"] {
        width: 15%;
        margin-left: 5px;
    }

    #aside-right a {
        display: block;
        text-align: center;
        font-size: 15.5px;
        color: #A43A39;
    }

#body-section {
    width: 77%;
    position: absolute;
    border: 1px solid black;
    left: 160px;
    background: white;
}

    #body-section article {
        margin-left: 1%;
        margin-right: 1%;
    }

    #body-section section {
        margin-left: 1%;
    }

    #body-section a {
        color: #A43A39;
    }

    #body-section img {
        width: 100px;
        height: 20px;
    }

    #body-section article img {
        float: left;
        height: 79px;
        width: 74px;
        display: block;
        padding-right: 5px;
    }

#body-header {
    margin-left: 1%;
}

#button-id {
    border-top: 1px solid #9D9D9D;
    border-bottom: 1px solid #9D9D9D;
    margin-top: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
}

footer {
    height: 30px;
}
